[Unit]
Description=A script to sync CentOS CI ResultsDB to Fedora
After=network.target
Documentation=https://github.com/jeremycline/rdbsync

[Service]
ExecStart=/usr/bin/rdbsync run --log-level=INFO --poll-interval=30
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
